
/*kod som gäller alla element från start*/
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*all kod som gäller för skärm upp till 900px*/
@media screen and (max-width: 900px) {

    body {
        background-color: #f6ea79;
    }

    .gridcontain {
        background-color: #f6ea79;
        max-width: 900px;
        min-height: 100vh;
        margin: auto;
        /*grid template*/
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 160px auto auto 100px;
        grid-auto-rows: auto;
    }

    /*header*/
    .grid-1-header {
        grid-column: 1/3;
        background-color: #fdfeba;
        height: auto;
        max-height: 160px;
        box-shadow: 0 0 10px #777777;
    }

    /*Loggan i min header*/
    .grid-1-header img {
        width: 70%;
        margin-top: 1%;
        padding-top: 1%;
        float: right;
    }

    /*döljer navigeringen som gäller för skärm större än 900px*/
    .grid-1-header nav {
        display: none;
    }
    
    /*DropDown navigeringsmeny*/
    .grid-1-header #navMenuDrop {
        background-color: #fdfeba;
        box-shadow: 0 0px 10px black;
        font-size: 2rem;
        position: absolute;
        left: 0;
        top: 0;
        height: 40vh;
        width: 500px;
        border-bottom-right-radius: 500px;
        display: none;
    }

    .grid-1-header #navMenuDrop ul {
        width: 100%;
        list-style: none;
        margin: 0 auto;
    }

    .grid-1-header #navMenuDrop li {
        width: 60%;
        padding: 0.4em;
    }

    .grid-1-header #navMenuDrop li:hover {
        cursor: pointer;
        background-color: #f6ea79;
        border-radius: 100px;
    }

    .grid-1-header #navMenuDrop a {
        text-decoration: none;
        padding-left: 30%;
    }

    .grid-1-header .menubutton {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        background-color: #fdfeba;
        border: solid 1px grey;
        cursor: pointer;
    }

    .grid-1-header .menubutton:hover {
        background-color: #f6ea79;
        box-shadow: 0 0px 5px black;
    }

    .grid-1-header .open {
        margin: 15px 15px;
    }

    .menuIcon {
        margin-right: 10px;
    }

    /* mina bars som utgör hamburgemenyn*/
    .bars {
        display: block;
        width: 20px;
        height: 3px;
        background-color: black;
        margin: 5px 0;
    }

    .menuText {
        font-size: 25px;
    }

    .grid-1-header .closed {
        margin: 15px 15px;
    }

    /*vinklar mina bars så att ett kryss bildas*/
    .cross1 {
        width: 25px;
        transform: rotate(45deg);
        position: relative;
        top: 5px;
    }

    .cross2 {
        width: 25px;
        transform: rotate(135deg);
        position: relative;
        top: -3px;
    }

    input {
        padding: 0.5%;
    }

    select {
        padding: 0.5%;
    }

    /*innehållet på index-sidan*/
    .grid-3-main {
        grid-column: 1/3;
        background-color: #fdfeba;
        margin: 20px;
        box-shadow: 0 0 10px #777777;
    }

    .grid-3-main article {
        width: 95%;
        margin: auto;
        background-color: #fdfeba;
        border-color: #eaea2a;
        border-bottom-style: dotted;
    }

    .grid-3-main h1 {
        text-align: center;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .grid-3-main img {
        margin: auto;
        width: 80%;
        margin-left: 10%;
        box-shadow: 0 0 10px #777777;
    }

    .grid-3-main p {
        width: 75%;
        margin: auto;
        padding-top: 2%;
    }

    /*innehållet i Nyheter på indexsidan dolt i denna skärmstorlek*/
    .grid-4-news {
        display: none;
    }

    /*innehållet i nyheter på sidan Aktuellt*/
    .grid-4-newsnews {
        grid-column: 1/3;
        margin: 2%;
        background-color: #fdfeba;
        box-shadow: 0 0 10px #777777;
    }

    .grid-4-newsnews article {
        width: 95%;
        margin: auto;
        border-color: black;
        border-bottom-style: dotted;
    }

    .grid-4-newsnews h1 {
        font-size: 40px;
        text-align: center;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .grid-4-newsnews img {
        margin: auto;
        width: 80%;
        margin-left: 10%;
        box-shadow: 0 0 10px #777777;
    }

    .grid-4-newsnews p {
        width: 75%;
        margin: auto;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 8%;
    }

    /*Innehållet på Länk-sidan*/
    .grid-6-links {
        grid-column: 1/3;
        background-color: #fdfeba;
        margin: 20px;
        box-shadow: 0 0 10px #777777;
    }

    .grid-6-links article {
        width: 80%;
        margin: auto;
        padding: 1%;
        padding-bottom: 1%;
    }

    .grid-6-links h1 {
        font-size: 35px;
        padding: 2%;
        margin-top: 5%;
    }

    .grid-6-links ul {
        list-style: none;
    }

    .grid-6-links a {
        padding: 2%;
        font-size: 20px;
    }

    /*bild på ett bi visas ej på denna skärmstorlek*/
    .grid-11-beetoon {
        display: none;
    }

    /*innehållet på sidan kontakt*/
    .grid-8-contact {
        grid-column: 1/3;
        grid-row: 2/3;
        background-color: #fdfeba;
        margin: 20px;
        box-shadow: 0 0 10px #777777;
    }

    .grid-8-contact h1 {
        padding-left: 5%;
        padding-top: 5%;
        padding-bottom: 2%;
    }

    .grid-8-contact h2 {
        padding-left: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .grid-8-contact h3 {
        padding-left: 5%;
        padding-top: 3%;
        padding-bottom: 1%;
    }

    .grid-8-contact p {
        padding-left: 5%;
        padding-top: 1%;
    }

    /*innehåller formulär på sidan Bli medlem*/
    .grid-9-form {
        grid-column: 1/3;
        margin: auto;
        width: 90%;
    }

    fieldset {
        margin: auto;
        border: 1px solid grey;
        border-radius: 10px;
        padding: 20px;
        text-align: left;
        padding-bottom: 100px;
        box-shadow: 0 0 10px #777777;
        max-width: 380px;
    }

    legend {
        text-transform: uppercase;
        text-align: center;
        background-color: #fdfeba;
        border-radius: 5px;
        padding: 1%;
        box-shadow: 0 0 10px #777777;
    }

    #sendinform {
        padding: 1%;
    }

    #resetform {
        padding: 1%;
    }

    /*bild på ett bi som är dolt på denna skärmstorlek*/
    .grid-12-honeybee img {
        width: 70%;
        padding-top: 20%;
        padding-left: 20%;
    }

    /*innehållet i formuläret på kontakt sidan*/
    .grid-10-contactform {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .grid-10-contactform fieldset {
        margin: 20px 20px;
        border: 1px solid grey;
        border-radius: 10px;
        padding: 20px;
        text-align: left;
        padding-bottom: 10%;
    }

    .grid-10-contactform legend {
        text-transform: uppercase;
    }

    /*footers*/
    .grid-7-footer1 {
        display: none;
    }

    .grid-7-footer2 {
        grid-column: 1/2;
        grid-row: 4/5;
        background-color: #ffff89;
        max-height: 100px;
        position: relative;
        bottom: 0;
    }

    .grid-7-footer2 p {
        padding-top: 2%;
        padding-left: 5%;
        padding-bottom: 5%;
    }

    .grid-7-footer3 {
        grid-column: 2/3;
        grid-row: 4/5;
        background-color: #ffff89;
        max-height: 100px;
        position: relative;
        bottom: 0;
    }

    .grid-7-footer3 p {
        padding-top: 15px;
    }
}






/*media querys från 901px och uppåt*/
@media screen and (min-width: 901px) {

    body {
        background-image: url("../pics/background.jpg");
        background-size: cover;
        background-attachment: fixed;
    }

    .gridcontain {
        background-color: #f6ea79;
        max-width: 1600px;
        margin: auto;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 160px auto 100px;
        grid-auto-rows: auto;
    }

    .grid-1-header {
        grid-column: 1/13;
        background-color: #fdfeba;
        height: auto;
        max-height: 160px;
        box-shadow: 0 0 10px #777777;
    }

    .grid-1-header img {
        width: 40%;
        margin-top: 1%;
        float: right;
    }

    /*navigering för stor skärm*/
    .grid-1-header #navBigScreen {
        width: 55%;
        padding-top: 60px;
    }

    .grid-1-header #navBigScreen ul {
        list-style: none;
    }

    .grid-1-header #navBigScreen li {
        float: left;
        padding: 7px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 5px;
        border: solid 1px rgb(228, 228, 228);
        background-color: #fdfeba;
        box-shadow: 0 0 10px #777777;
    }

    .grid-1-header #navBigScreen li:hover {
        background-color: #f6ea79;
    }

    .grid-1-header #navBigScreen a {
        text-decoration: none;
    }

    /*döljer navigeringen för skärmar mindre än 900 px*/
    #openMenu {
        display: none;
    }

    #closeMenu {
        display: none;
    }

    #navMenuDrop {
        display: none;
    }

    .grid-3-main {
        grid-column: 1/10;
        background-color: #fdfeba;
        margin: 20px;
        box-shadow: 0 0 10px #777777;
    }

    .grid-3-main article {
        width: 95%;
        margin: auto;
        margin-bottom: 2%;
        background-color: #fdfeba;
        border-color: grey;
        border-bottom-style: dotted;
    }

    .grid-3-main h1 {
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .grid-3-main img {
        margin: auto;
        width: 80%;
        margin-left: 10%;
        box-shadow: 0 0 10px #777777;
    }

    .grid-3-main p {
        width: 75%;
        margin: auto;
        padding-top: 2%;
    }

    /*hopdrag av nyheter visas på indexsidan*/
    .grid-4-news {
        grid-column: 10/13;
        background-color: #fdfeba;
        height: fit-content;
        margin-top: 20px;
        margin-right: 5%;
        box-shadow: 0 0 10px #777777;
    }

    .grid-4-news #newscontent h2 {
        padding: 10%;
        font-size: 35px;

    }

    .grid-4-news #newscontent article {
        background-color: #fcfcfa;
        padding: 30px;
        margin: 10px;
        box-shadow: 0 0 10px #777777;
    }

    .grid-4-news #newscontent article h3 {
        padding-bottom: 8px;
        padding-top: 8px;
        text-decoration: underline;
    }

    /*hela nyheter på sidan Aktuellt*/
    .grid-4-newsnews {
        grid-column-start: 2;
        grid-column-end: 12;
        margin: 2%;
        background-color: #fdfeba;
        box-shadow: 0 0 10px #777777;
    }

    .grid-4-newsnews article {
        width: 95%;
        margin: auto;

        border-color: black;
        border-bottom-style: dotted;
    }

    .grid-4-newsnews h1 {
        font-size: 40px;
        text-align: center;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .grid-4-newsnews img {
        margin: auto;
        width: 80%;
        margin-left: 10%;
        box-shadow: 0 0 10px #777777;
    }

    .grid-4-newsnews p {
        width: 75%;
        margin: auto;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    /*länkar-sidan*/
    .grid-6-links {
        grid-column: 1/8;
        background-color: #fdfeba;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: 0 0 10px #777777;
    }

    .grid-6-links article {
        width: 70%;
        margin: auto;
        padding: 1%;
        padding-bottom: 1%;
    }

    .grid-6-links h1 {
        font-size: 30px;
        padding: 2%;
        margin-top: 10%;
    }

    .grid-6-links ul {
        list-style: none;
    }

    .grid-6-links a {
        padding: 2%;
        font-size: 20px;
    }

    /*bild på ett bi*/
    .grid-11-beetoon {
        grid-column: 8/13;
    }

    .grid-11-beetoon img {
        padding-top: 10%;
        width: 95%;
    }

    /*kontakt-sidan*/
    .grid-8-contact {
        grid-column: 2/9;
        background-color: #fdfeba;
        margin: 20px;
        box-shadow: 0 0 10px #777777;
    }

    .grid-8-contact h1 {
        padding-left: 5%;
        padding-top: 5%;
        padding-bottom: 2%;
    }

    .grid-8-contact h2 {
        padding-left: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .grid-8-contact h3 {
        padding-left: 5%;
        padding-top: 3%;
        padding-bottom: 1%;
    }

    .grid-8-contact p {
        padding-left: 5%;
        padding-top: 1%;
    }

    /*bild på ett bi*/
    .grid-12-honeybee {
        grid-column: 2/6;
    }

    .grid-12-honeybee img {
        width: 85%;
        padding-top: 20%;
    }

    /*bli medlem - formuläret*/
    .grid-9-form {
        grid-column: 6/11;
        margin: 100px;
        min-width: 100%;
        max-width: 100%;
    }

    fieldset {
        grid-column: 5/10;
        border: 1px solid grey;
        border-radius: 10px;
        padding: 20px;
        text-align: left;
        padding-bottom: 100px;
        max-width: 380px;
    }

    legend {
        color: grey;
        text-transform: uppercase;
        text-align: center;
    }

    /*kontakt - formuläret*/
    .grid-10-contactform {
        grid-column: 9/12;
    }

    .grid-10-contactform fieldset {
        margin-top: 15px;
        border: 1px solid grey;
        border-radius: 10px;
        padding: 20px;
        text-align: left;
        padding-bottom: 10%;
    }

    /*footer*/
    .grid-7-footer1 {
        grid-column: 1/6;
        grid-row: 3/4;
        background-color: #ffff89;
        max-height: 100px;
        position: relative;
        bottom: 0;
    }

    .grid-7-footer1 h2 {
        padding-top: 5%;
        padding-left: 30px;
        font-size: 20px;
    }

    .grid-7-footer2 {
        grid-column: 6/11;
        grid-row: 3/4;
        background-color: #ffff89;
        max-height: 100px;
        position: relative;
        bottom: 0;
    }

    .grid-7-footer2 p {
        padding-top: 5%;
    }

    .grid-7-footer3 {
        grid-column: 11/13;
        grid-row: 3/4;
        background-color: #ffff89;
        max-height: 100px;
        position: relative;
        bottom: 0;
    }

    .grid-7-footer3 p {
        padding-top: 10%;
    }
}

/*här slutar media query min 1025px*/